//全局引入字体
@font-face {
  font-family: ali-font;
  src: url('../fonts/jjtd1GNNFFHg.woff') format('woff')
}

@font-face {
  font-family: yutong-font;
  src: url('../fonts/yutong.ttf') format('truetype');
}

// 带我优化一些zhuti-font再来使用
// @font-face {
//   font-family: zhuti-font;
//   src: url('../fonts/鸿雷拙书简体.subset.otf') format('.otf');
// }


@font-face {
  font-family: Mono;
  src: url('../fonts/JetBrainsMono-Regular.woff2');
}

@font-face {
  font-family: ChillRound;
  src: url('../fonts/ChillRoundM.ttf');
}



//解决width:100vw出现滚动条的问题

html,
body {
  margin: 0;
  padding: 0;
}